@inherits LayoutComponentBase
<link href="./css/Home.css" rel="stylesheet" />

<PageTitle>MiAppMusica</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:cadetblue;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="githubUser" href="https://github.com/IkerOwO" target="_blank">Github</a>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
